* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Roboto", Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;
    box-shadow: 0px -1px 0px 0px #EDEFF1 inset;
    padding: 0 8px;
}

.header_left,
.header_middle,
.header_right {
    display: flex;
    align-items: center;
}

.header_left {
    width: 248px;
    gap: 20px;
}

.header_middle {
    flex: 1;
    min-width: 0;
}

.header_right {
    width: 160px;
    gap: 16px;
}

.left_icon {
    position: relative;
    left: 35px;
}

.right_icon {
    position: relative;
    right: 30px;
}

.search {
    width: 100%;
    max-width: 720px;
    height: 46px;
    top: 9px;
    border-radius: 8px;
    background-color: #F1F3F4;
    font-size: 16px;
    border: none;
    padding-left: 50px;
}

.search:focus {
    outline: none;
}

.header_icons {
    transition: box-shadow 0.2s;
    border-radius: 50%;
    cursor: pointer;
}

.header_icons:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.Gmail_icon {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 248px;
    height: 100%;
    overflow: hidden;
    padding-top: 15px;
    row-gap: 16px;
}

.compose-btn {
    display: flex;
    align-items: center;
    width: 126px;
    height: 48px;
    border-radius: 40px;
    gap: 16px;
    margin-left: 12px;
    padding-left: 8px;
    font-family: "Lato", Arial;
    font-weight: 500;
    color: #3D4043;
    letter-spacing: -1%;
    font-size: 13px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 1px #00000026;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 232px;
    height: 32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}

.no-left-padding {
    padding-left: 0 !important;
}

.arrow {
    margin-left: 0;
    width: 16px;
    height: 16px;
}

.category-icon {
    margin-left: 0px;
}

.menu-item.unread {
    font-weight: 700;
    color: #202124;
}

.menu-item.has-number .unread-count {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
}

.unread-count {
    display: none;
}

.menu-item[data-hover="Yes"]:hover {
    background-color: #F1F3F4;
    cursor: pointer;
}

.menu-item[data-selected="Yes"] {
    background-color: #F9E9E7;
    color: #C84031;
}

.menu-item[data-selected="Yes"] .unread-count {
    color: #C84031;
    font-weight: 700;
}

.main_between {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.action-menu {
    display: flex;
    align-items: center;
    height: 48px;
    box-shadow: 0px -1px 0px 0px #EDEFF1 inset;
    gap: 16px;
    justify-content: end;
    overflow-x: auto;
}

.index {
    font-weight: 400;
    font-size: 14px;
    color: #0000008A;
    cursor: pointer;
}

.left-arrow,
.right-arrow {
    cursor: pointer;
}

.mail-tabs {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 54px;
    box-shadow: 0px -1px 0px 0px #EDEFF1 inset;
    overflow-x: auto;
}

.tab-button {
    cursor: pointer;
    width: 253px;
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #0000008A;
    line-height: 120%;
    letter-spacing: -1%;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0px -1px 0px 0px #EDEFF1 inset;
}

.tab-button img {
    width: 20px;
    height: 20px;
}

.notification-count {
    min-width: 40px;
    height: 16px;
    color: #E9F4EB;
    font-size: 12px;
    font-weight: 700;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-count:empty {
    display: none;
}

.tab-button[data-category="primary"] .notification-count {
    background-color: #C84031;
}

.tab-button[data-category="social"] .notification-count {
    background-color: #3474E0;
}

.tab-button[data-category="promotions"] .notification-count {
    background-color: #3C7D40;
}

.tab-button[data-category="updates"] .notification-count {
    background-color: #f3dc46;
}

.tab-button.active {
    color: #C84031;
    box-shadow: 0px -3px 0px 0px #C84031 inset;
}

.tab-button.active img {
    filter: brightness(0) saturate(100%) invert(17%) sepia(74%) saturate(1656%) hue-rotate(340deg) brightness(97%) contrast(101%);
}

.tab-button:hover {
    background-color: #F2F5F5;
    font-weight: 700;
}

.email_lines {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 1px;
    overflow-y: auto;
    flex: 1;
}

.mail-item {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 38px;
    width: 100%;
    font-size: 14px;
    box-shadow: 0px -1px 0px 0px #EDEFF1;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.mail-item.unread .mail-sender,
.mail-item.unread .mail-subject {
    font-weight: 700;
}

.mail-item.unread .mail-snippet {
    font-weight: 400;
}

.mail-item.read {
    font-weight: 400;
    background-color: #F5F7F7;
}

.mail-item[data-hover="Yes"]:hover {
    background-color: #F2F5F5;
    box-shadow: 1px 0px 0px 0px #DADCE0,
        -1px 0px 0px 0px #DADCE0,
        0px 1px 2px 0px #3C40434D,
        0px 1px 3px 1px #3C404326;
}

.mail-item.selected,
.mail-item[data-selected="Yes"] {
    background-color: #C2DBFF;
}

.mail-item.selected:hover,
.mail-item[data-selected="Yes"]:hover {
    background-color: #C2DBFF !important;
    box-shadow: 1px 0px 0px 0px #DADCE0,
        -1px 0px 0px 0px #DADCE0,
        0px 1px 2px 0px #3C40434D,
        0px 1px 3px 1px #3C404326;
}

.mail-left {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 0px;
    width: 279px;
}

.left_hover {
    width: 11px;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.mail-item[data-hover="Yes"]:hover .left_hover,
.mail-item.selected .left_hover,
.mail-item[data-selected="Yes"] .left_hover {
    visibility: visible;
    opacity: 1;
}

.mail-checkbox {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border: 2px solid #00000029;
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    position: relative;
    margin-left: -6px;
}

.mail-checkbox:checked {
    background-color: #0000008A;
    border-color: transparent;
}

.mail-checkbox:checked::after {
    content: "";
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: -1px;
    left: 3.5px;
}

.mail-sender {
    color: #202124
}

.mail-content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: right 0.1s ease;
    overflow: hidden;
}

.mail-item[data-hover="Yes"]:hover .mail-content,
.mail-item.selected .mail-content,
.mail-item[data-selected="Yes"] .mail-content {
    padding-right: 184px;
}

.mail-subject {
    color: #202124;
    white-space: nowrap;
}

.mail-snippet {
    color: #0000008A;
    white-space: nowrap;
}

.mail-date {
    color: #0000008A;
    padding-right: 16px;
    display: flex;
    justify-content: end;
    white-space: nowrap;
    width: 120px;
}

.mail-item[data-hover="Yes"]:hover .mail-date,
.mail-item.selected .mail-date,
.mail-item[data-selected="Yes"] .mail-date {
    display: none;
}

.hover_icons {
    display: none;
    align-items: center;
    width: 200px;
    height: 34px;
    gap: 16px;
    justify-content: end;
    padding-right: 8px;
}

.mail-item[data-hover="Yes"]:hover .hover_icons,
.mail-item.selected .hover_icons,
.mail-item[data-selected="Yes"] .hover_icons {
    display: flex;
}

.right-space {
    width: 72px;
    height: 100%;
}